<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        
        <div class="modal-header">
          <h5 class="modal-title">Utilizar Puntos</h5>
          <button type="button" class="close"(click)="cerrar()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <select (change)="cambioCliente2($event)">
                <option value="Todos">Elija el cliente</option>
                <option *ngFor="let item4 of clientes" [value]="item4.id">Id:{{item4.id}} Nombre:{{item4.nombre}}</option>
              </select>
              <br>
              <br>
              <select (change)="cambioConcepto2($event)">
                  <option value="Todos">Elija el Concepto de Uso</option>
                  <option *ngFor="let item5 of listconcpuntos" [value]="item5.id">Id:{{item5.id}} Descripcion: {{item5.desc_concepto}}</option>
                </select> 
               <br>  
               <br>          
               <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="cerrar()">
                  <i class="fa fa-times"></i>
                </button>
                <button type="submit" class="btn btn-primary" (click)="cerrarModal()">
                  <i class="fa fa-save"></i>
                </button>
              </div>
        </div>
      </div>
    </div>
  </div>
Concepto
<select (change)="cambioConcepto($event)">
  <option value="Todos">Todos</option>
  <option *ngFor="let item2 of listconcpuntos" [value]="item2.id">{{item2.desc_concepto}}</option>
</select>
Cliente
<select (change)="cambioCliente($event)">
  <option value="Todos">Todos</option>
  <option *ngFor="let item3 of clientes" [value]="item3.id">{{item3.nombre}}</option>
</select>
Fecha Desde (AAAA-MM-DD) <input value="2019-05-20"(input)="fechaDesde=$event.target.value" type="text" >
Fecha Hasta (AAAA-MM-DD)<input value="2019-05-20"(input)="fechaHasta=$event.target.value" type="text" >
<button class="room" (click)="buscar()">Buscar</button>
<br>
<br>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary" (click)="utilizarPuntos()">
      Utilizar Puntos <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
 
</div>
<br>

<table id="example" class="table table-striped table-bordered col-md-12">
  <thead class="thead-dark bg-success">
    <tr>
      <th  scope="col">Cliente</th>
      <th scope="col">Concepto Punto</th>
      <th scope="col">Puntos Utilizados</th>
      <th scope="col">Fecha Asignado</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let bp of listusopuntos">
      <td>{{bp.cliente.id}}</td>
      <td>{{bp.concepto_punto.desc_concepto}}</td>
      <td>{{bp.punto_utilizado}}</td>
      <td>{{bp.fecha_asignado}}</td>
      <td style="width:  10%">
        <button class="btn btn-primary">
          <i class="fa fa-save"></i>
        </button>
        <button class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>

  </tbody>
</table>
