<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
      Añadir Concepto de Punto <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
      Añadir Regla de Punto <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
      Añadir Vencimiento de Punto <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
</div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Concepto Punto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate [formGroup]="FormCP" (ngSubmit)="guardarCP()">
            <div class="form-group ">
              <label for="message-text" class="col-form-label">Descripción:</label>
              <textarea formControlName="descpunto" required maxlength="30" minlength="5" class="form-control">
            </textarea>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Puntos Requerido:</label>
              <input formControlName="puntoreq" type="number" min="10" class="form-control col-md-4">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" #closeAddExpenseModal data-dismiss="modal">
                <i class="fa fa-times"></i>
              </button>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <br>
  <hr>
  <br>

  <table class="table table-striped table-bordered col-md-12">
    <thead class="thead-dark bg-success">
      <tr>
        <th scope="col">Detalles Concepto Punto</th>
        <th scope="col">Puntos requeridos</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let cp of listconcpuntos">
        <td>{{cp.desc_concepto}}</td>
        <td>{{cp.punto_req}}</td>
        <td style="width:  10%">
          <button (click)="guardarUsuario(user)" class="btn btn-primary">
            <i class="fa fa-save"></i>
          </button>
          <button (click)="borrarUsuario(user)" class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>