<script>
  $(document).ready(function() {
    $('#example').DataTable();
  } );
  </script>
<!--
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
      Añadir Bolsa de Punto <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
  </div>
 
</div>


  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Concepto Punto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form ngNativeValidate [formGroup]="FormCP" (ngSubmit)="guardarCP()">
            <div class="form-group ">
              <label for="message-text" class="col-form-label">Descripción:</label>
              <textarea formControlName="descpunto" required maxlength="30" minlength="5" class="form-control">
            </textarea>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Puntos Requerido:</label>
              <input formControlName="puntoreq" type="number" min="10" class="form-control col-md-4">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" #closeAddExpenseModal data-dismiss="modal">
                <i class="fa fa-times"></i>
              </button>
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
-->
Cliente
<select (change)="cambioCliente($event)">
  <option value="Todos">Todos</option>
  <option *ngFor="let item3 of clientes" [value]="item3.id">{{item3.nombre}}</option>
</select>
Estado
<select (change)="cambioEstado($event)">
  <option value="Todos">Todos</option>
  <option value="solo vencidos">Solo Vencidos</option>
  <option value="solo vigentes">Solo Vigentes</option>
</select>
Vencimiento (días) <input value="30"(input)="vencimiento=$event.target.value" type="text" >
<button class="room" (click)="buscar()">Buscar</button>
  <br>
  <hr>
  <br>

  <table id="example" class="table table-striped table-bordered col-md-12">
    <thead class="thead-dark bg-success">
      <tr>
        <th  scope="col">Cliente</th>
        <th scope="col">Monto operacion</th>
        <th scope="col">Puntos Asignados</th>
        <th scope="col">Puntos Utilizados</th>
        <th scope="col">Saldo</th>
        <th scope="col">Fecha Asignado</th>
        <th scope="col">Fecha Caducidad</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let bp of listbolsapuntos">
        <td>{{bp.cliente.id}}</td>
        <td>{{bp.monto_operacion}}</td>
        <td>{{bp.punto_asignado}}</td>
        <td>{{bp.punto_utilizado}}</td>
        <td>{{bp.saldo_punto}}</td>
        <td>{{bp.fecha_asignado}}</td>
        <td>{{bp.fecha_caducidad}}</td>
        <td style="width:  10%">
          <button (click)="guardarUsuario(user)" class="btn btn-primary">
            <i class="fa fa-save"></i>
          </button>
          <button (click)="borrarUsuario(user)" class="btn btn-danger">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>

  