
<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span> Dashboard</span>
        </a>
      </li>

    <li *ngFor="let menu of _siderbar.menu" class="nav-item">
        <a class="nav-link" href="index.html">
          <i [class]="menu.icono"></i>
          <span>{{menu.titulo}}
          </span>
        </a>
    </li>
  </ul>

