<table class="table table-striped table-bordered col-md-12">
    <thead class="thead-dark bg-success">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha Nac.</th>
        <th scope="col">Ci</th>
        <th scope="col">Tel.</th>
        <th scope="col">Email</th>
        <th scope="col">Rol</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let cliente of clientes">
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.apellido}}</td>
          <td>{{cliente.fechanaciento}}</td>
          <td>{{cliente.ci}}</td>
          <td>{{cliente.telefono}}</td>
          <td>{{cliente.email}}</td>
          <td>
              <select [(ngModel)]="cliente.role" name="role" class="form-control">
                <option value="admin">admin</option>
                <option value="default">default</option>
              </select>
          </td>
          <td style="width:  10%">
              <button  (click)="guardarUsuario(user)" class="btn btn-primary">
                <i class="fa fa-save"></i>
              </button>
              <button (click)="borrarUsuario(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </td>
      </tr>
      
    </tbody>
  </table>